html {
    margin: 0;
    background-color: #151515;
    color: white;
    font-family: sans-serif;
}

ul {
    font-size: 4rem;
    list-style: none;
}

ul a {
    color: white;
    text-decoration: none;
}

ul a::before {
    content: '🔗 ';
}