html {
    background-color: #151515;
    color: white;
    background-image: url(https://picsum.photos/1920/1080?random=1);
}

body {
    margin: 0;
    padding: 0;
}

#navbar {
    font-family: 'Katahdin Round', 'Arial Narrow Bold', sans-serif;
    list-style: none;
}

#navbar .letter-path {
    fill: white;
    stroke: transparent;
    stroke-width: 2.5;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: fill 0.1s ease-in 0.1s, stroke 0.25s ease-out, stroke-dashoffset 0s linear 0.25s;
}

#navbar svg:hover .letter-path {
    fill: rgba(255, 255, 255, 0.3);
    stroke: white;
    stroke-dashoffset: 0;
    transition: fill 0.25s ease-out, stroke 0s, stroke-dashoffset 0.5s ease-in 0.1s;
}

#blurred-clip-background {
    filter: blur(3px);
}