html {
    margin: 0;
    background-color: #151515;
    color: white;
    background-image: url(https://picsum.photos/id/18/1000/800);
    background-repeat: no-repeat;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.w-full {
    width: 100%;
}

.h-auto {
    height: 200px;
}

#navbar {
    font-family: 'Katahdin Round', 'Arial Narrow Bold', sans-serif;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar .letter-path {
    /* fill: white; */
    fill: transparent;
    stroke: transparent;
    stroke-width: calc(1/(35*0.5)); /*30 = SCALE_FACTOR*/
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    transition: fill 0.1s ease-in 0.1s, stroke 0.25s ease-out, stroke-dashoffset 0s linear 0.25s;
}

#navbar .blur-letter-path {
    fill: white;
}

#navbar svg:hover .letter-path {
    stroke-dashoffset: 0;
    /* stroke: white; */
    /* fill: rgba(255, 255, 255, 0.15); */
    fill: #f002;
    transition: fill 0.25s ease-out, stroke 0s, stroke-dashoffset 0.5s ease-in 0.1s;
}

#blurred-clip-background {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: url(#blur-letter-paths);
    filter: blur(10px);
    z-index: -1;
}

