html {
    background-image: url(brickWall-500x500.jpg);
    background-size: 500px 500px;
}

body {
    margin: 0;
    padding: 0;
}

#navbar {
    list-style: none;
}

#navbar .letter-path {
    fill: white;
    stroke: transparent;
    stroke-width: 2.5;
}

#navbar svg:hover .letter-path {
    fill: rgba(255, 255, 255, 0.3);
    stroke: white
}

#blurred-clip-background {
    clip-path: url(#blur-letter-paths);
    filter: blur(2px);
}